[data-wb-text] {
	font-family: 'Noto Serif', 'Georgia', serif;
}

[data-wb-text].cover_active {
	background-color: rgba(148, 71, 67,0.8);
	background-image: url("/books/introduction_a_la_methode_de_leonard_de_vinci/introduction_a_la_methode_de_leonard_de_vinci_cover.jpg");
}

[data-wb-text] #cover {
	position: static;
}

[data-wb-text] #cover-author {
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: 1px;
	opacity: 0.75;
}

[data-wb-text] #cover-title {
	margin-top: 1.5em;
	padding-top: 0%;
	font-size: 1.6em;
	line-height: 1.6em;
	word-spacing: 0.25em;
	letter-spacing: 3px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo {
	position: absolute;
	bottom: 2em;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	font-variant: small-caps;
	letter-spacing: 6px;
	text-align: center;
	opacity: 0.75;
}

[data-wb-text] #cover-logo1 {
	font-size: 3em;
	display: none;
}

[data-wb-text] #cover-logo2 {
	font-size: 1.2em;
	margin-top: 48px;
}

@media only screen and (min-height: 460px) {
	[data-wb-text] #cover-logo1 {
		display: block;
	}
}

@media only screen and (min-height: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 8%;
		font-size: 1.9em;
		line-height: 1.9em;
		word-spacing: 0.2em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 2.5em;
	}
	
	[data-wb-text] #cover-logo2 {
		font-size: 1.3em;
	}
}

@media only screen and (min-width: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 6%;
		font-size: 1.9em;
		word-spacing: 0.15em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 3em;
	}
	
	[data-wb-text] #cover-logo2 {
		font-size: 1.3em;
		letter-spacing: 6px;
	}
}

@media only screen and (min-height: 680px) {

	[data-wb-text] #cover-author {
		font-size: 1.3em;
		letter-spacing: 2px;
	}

	[data-wb-text] #cover-title {
		padding-top: 10%;
		font-size: 2em;
		line-height: 2em;
	}
}

[data-wb-text] #fin {
	text-transform: uppercase;
	letter-spacing: 2px;
}


[data-wb-text] .section-title {
	text-align: center;
}

[data-wb-text] .section-subtitle {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

[data-wb-text] .note a.wb-link {
	color: #006dcc;
}

[data-wb-text] .note-section p {
	font-size: 0.9em;
}

[data-wb-text] .note-section p.note {
	margin-top: 1.5em;
}

[data-wb-text] .note-section p.notes-title {
	font-size: 1.25em;
}

[data-wb-text] p {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
}
[data-wb-text] p.section-title, [data-wb-text] #cover p {
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -o-hyphens: none;
}



