<p id="<%= selectedContrib.id %>"><%= selectedContrib.name %></p>
<p>
	<label>function : </label>
	<input type="text" name="contrib-role" class="input">
</p>
<p class="padding-16">
	<button type="button" id="add-contrib-role-btn" class="button align-right">Ajouter</button>
</p>
