<% for(var i=0; i<selectedContribs.length; i++) {%>
<li>
	<p data-key="<%= selectedContribs[i].id %>" id="<%= i %>" >
		<span><%= selectedContribs[i].name %> </span>
		<span>(<%= selectedContribs[i].role %>)</span>
		<button type="button" id="contributeur" class="delete-btn button align-right">Supprimer</button>
	</p>
</li>
<% } %>
