<p id="<%= selectedContrib.id %>"><%= selectedContrib.name %></p>
<p>
	<label>function : </label>
	<input type="text" name="contrib-role" class="w3-input w3-border">
</p>
<p class="w3-display-container w3-padding-16">
	<button type="button" id="add-contrib-role-btn" class="w3-text-gray w3-hover-none w3-hover-text-black w3-button w3-display-right">Ajouter</button>
</p>
