[data-wb-text] {
	font-family: 'Noto Serif', 'Georgia', serif;
}

[data-wb-text] #titre {
	position: static;
}

[data-wb-text] #cover-author {
	font-size: 1.2em;
	letter-spacing: 1px;
	opacity: 0.75;
}

[data-wb-text] #cover-title {
	margin-top: 1.5em;
	padding-top: 5%;
	font-size: 1.8em;
	line-height: 1.8em;
	word-spacing: 0.25em;
	letter-spacing: 3px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo {
	position: absolute;
	bottom: 2.5em;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 2px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo #span1 {
	font-style: italic;
}

[data-wb-text] #cover-logo #span2 {
	font-variant: small-caps;
}

@media only screen and (min-width: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 8%;
		font-size: 1.9em;
		line-height: 1.9em;
		word-spacing: 0.35em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 3em;
	}
}

@media only screen and (min-height: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 8%;
		font-size: 1.9em;
		line-height: 1.9em;
		word-spacing: 0.2em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 3em;
	}
}

@media only screen and (min-height: 680px) {

	[data-wb-text] #cover-author {
		font-size: 1.3em;
		letter-spacing: 2px;
	}

	[data-wb-text] #cover-title {
		padding-top: 10%;
		font-size: 2em;
		line-height: 2em;
	}
}

[data-wb-text] .section-title {
	text-align: center;
}

[data-wb-text] .note a.wb-link {
	color: #006dcc;
}

[data-wb-text] .note-section p {
	font-size: 0.9em;
}

[data-wb-text] .note-section p.note {
	margin-top: 1.5em;
}

[data-wb-text] .note-section p.notes-title {
	font-size: 1.25em;
}





