/*
BOOK LOADER
*/

#book-loader-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

#book-loader-container.hidden {
	display: none;
}

#book-loader {
	-webkit-transform: translate-z(0);
	-ms-transform: translate-z(0);
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 1;
    border: 8px solid #f3f3f3; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
TEXT LOADER
*/

#text-loader-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

#text-loader-container.hidden {
	display: none;
}

#text-loader {
	-webkit-transform: translate-z(0);
	-ms-transform: translate-z(0);
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 1;
    border: 8px solid #f3f3f3;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    -webkit-animation: textSpin 2s linear infinite;
    animation: textSpin 2s linear infinite;
}

@-webkit-keyframes textSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes textSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
SIGNET
*/
#bookmark {
	visibility: hidden;
	width: 50px;
	padding: 8px;
	background-color: #333;
	color: #fff;
	text-align: center;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 20px;
	font-family: 'Verdana', sans-serif;
}


#bookmark.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*
BOOK NAVBAR BOTTOM
*/
#book-nav-bar-bottom {
	display: none;
	height: 44px;
	position: relative;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom {
		display: block;
	}
}

#book-nav-bar-bottom-controls {
	position: relative;
	height: 44px;
	width: 550px;
	margin: auto;
	text-align: center;
}

#book-nav-bar-bottom-controls #center {
	width: 120px;
	height: 100%;
	margin: auto;
}

#book-nav-bar-bottom-controls #center #backward-large {
	float: left;
	font-size: 1.6em;
}

#book-nav-bar-bottom-controls #center #forward-large {
	float: right;
	font-size: 1.6em;
}

#book-nav-bar-bottom-controls button {
	outline: none;
	height: 100%;
	background-color: transparent;
	display: inline-block;
	color: rgba(0, 0, 0, 0.54);
	max-width: 56px;
}

#book-nav-bar-bottom-controls #open-toc-large {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #open-options-medium {
	position: absolute;
	top: 0px;
	right: 56px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #home-large {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #add-bookmark-large {
	position: absolute;
	top: 0px;
	left: 56px;
	padding-bottom: 10px;
}

@media screen and (min-width: 1366px) {
	#book-nav-bar-bottom-controls #open-toc-large, 
	#book-nav-bar-bottom-controls #home-large, 
	#book-nav-bar-bottom-controls #open-options-medium, 
	#book-nav-bar-bottom-controls #add-bookmark-large {
		display: none;
	}
}

/*
BOOK NAV-BAR-BOTTOM-SMALL
*/

#book-nav-bar-bottom-small {
	display: block;
	height: 30px;
	position: relative;
	margin: auto;
	background-color: #333;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom-small {
		display: none;
	}
}

#book-nav-bar-bottom-small .btn {
	display: inline-block;
	border: none;
	background-color: transparent;
	height: 100%;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	outline: none;
	width: 24%;
}

#book-nav-bar-bottom-small .material-icons {
	color: rgb(152, 152, 152);
}

/*
BOOKCONTAINER
*/
#bookContainer {
	font-family: 'Georgia', serif;
	position: relative;
	color: #000;
	opacity: 0.0;
	margin: auto;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

#bookContainer.show {
	opacity: 1.0;
}

/*
TEXTCONTAINER
*/
[data-wb-text-container] {
	margin: auto;
	background-color: #fafafa;
	will-change: transform;
}

/*
TOC-LARGE-DEVICE, TAB-OPTIONS, TAB-INFOS, HOME
*/

#toc-large-device, #tab-infos, #tab-options {
  position: absolute;
  top: 0px;
  right: -40%;
  width: 33%;
  transition: right 0.5s;
  -webkit-transition : right 0.5s;
  -moz-transition : right 0.5s;
  -o-transition: right 0.5s;
  display: none;
  background-color: #fafafa;
}

@media screen and (min-width: 1366px) {

	#toc-large-device, #tab-infos, #tab-options {
		display: block
	}
}

#toc-large-device.open, #tab-infos.open, #tab-options.open {
	right: 0px;
}

#toc-large-device-container, #tab-infos-container, #tab-options-container {
	width: 100%;
	background-color: #fafafa;
	overflow-y: auto;
	padding: 0px 16px;
}

#toc-large-device-container .header, #tab-infos-container .header, #tab-options-container .header {
	padding: 16px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

/*
toc-large-device
*/
#toc-large-device-container [data-wb-toc] {
	background-color: #fafafa;
	position: relative;
	height: 100%;
	width: 100%;
}

/*
tab-infos
*/
#tab-infos-container .content {
	padding: 16px 0px;
}

#tab-infos-container p {
	margin: 0px;
	padding: 8px;
}

#tab-infos-container ul {
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}

#tab-infos-container ul li {
	padding: .5em .5em;
}

#tab-infos-container .contrib-role {
	text-transform: capitalize;
}

/*
tab-options
*/
#tab-options-container {
	text-align : center;
	padding-bottom: 16px;
}

#tab-options-container #font-size-container-large,
#tab-options-container #font-family-container-large {
	width: 215px;
	margin: auto;
	padding: 16px 0px;
}

#tab-options-container #font-family-container-large > p,
#tab-options-container #font-size-container-large > p {
	margin-bottom: 7px;
}

#tab-options-container .col-left {
	float: left;
	width: 50%;
}

#tab-options-container .col-right {
	float: right;
	width: 50%;
}

#tab-options-container #font-size-container-large {
	clear: both;
}

#tab-options-container label {
	width: 50%;
	text-align : left;
}

#tab-options-container .options-title {
	font-variant: small-caps;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

/*
BOOK COMMANDS
*/
#book-commands {
	position: fixed;
	left: 32px;
	width: 75px;
	display: none;
}

@media screen and (min-width: 1366px) {
	#book-commands {
		display: block;
	}
}

#close-toc-large-device, #close-tab-infos, #close-tab-options {
    position: absolute;
	right: 100%;
	top: 0px;
	height: 37px;
	margin-right: 16px;
	outline: none;
	background-color: #fafafa;
	font-family: 'Georgia', serif;
	font-size: 1.2em;
}

#book-commands button {
    position: absolute;
	right: 0px;
	width: 80px;
	height: 37px;
	margin-right: 16px;
	outline: none;
	font-family: 'Georgia', serif;
	font-size: 1em;
}

#book-commands button:hover {
	box-shadow: 2px 3px 6px 2px rgba(0,0,0,0.2)
}

#toggle-toc-large-device {
	top: 0px;
}

#toggle-tab-options {
	top: 48px;
}

#toggle-tab-infos {
	top: 96px;
}

#tab-add-bookmark {
	top: 144px;
}

#tab-home-link {
	top: 192px;
}

/*
swing-container, swing-bar
*/
/*
if tab.open : swing-container to left
*/
#swing-container {
	margin-right: 0px;
	transition: margin-right 0.8s;
	-webkit-transition : margin-right 0.8s;
	-moz-transition : margin-right 0.8s;
    -o-transition: margin-right 0.8s;
	
}

#swing-container.left {
		margin-right: 0px;
	}

@media screen and (min-width: 1366px) {
	#swing-container.left {
		margin-right: 33%;
	}
}

/*
if tab.open : swing-bar to left
*/
#swing-bar {
	margin-right: 0px;
	transition: margin-right 0.9s;
	-webkit-transition : margin-right 0.9s;
	-moz-transition : margin-right 0.9s;
    -o-transition: margin-right 0.9s;
}

#swing-bar.left {
	margin-right: 0px;
}

@media screen and (min-width: 1366px) {
	#swing-bar.left {
		margin-right: 33%;
	}
}

/*
TOC, OPTIONS (< 1366px)
*/
#toc, #options, #options-medium {
	position: absolute;
	top: -1000px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
/*
	transition: top 0.4s;
	-webkit-transition : top 0.4s;
	-moz-transition : top 0.4s;
    -o-transition: top 0.4s;
*/
	padding: 0px;
	background-color: #fafafa;
}

#toc.open, #options.open, #options-medium.open {
	top: 0px;
}

#toc > div, #options > div, #options-medium > div {
	background-color: #fafafa;
	padding: 0px 16px;
}

#close-toc, #close-options, #close-options-medium {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 27px;
	font-size: 2em;
	font-family: 'Georgia', sans-serif;
	color: #bbb;
	padding: 8px 16px;
}

/*
toc
*/
#toc-header {
	margin-bottom: 30px;
	margin-top: 20px;
	padding: 16px 0px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#toc-header p {
	margin: 8px;
}

#toc ul, #toc-large-device ul {
	padding: 0px;
}

#toc li, #toc-large-device li {
	list-style-type: none;
	padding: .5em .5em;
}

#toc a.wb-link, #toc-large-device a.wb-link {
	display: inline-block;
	width: 100%;
	border: none;
	color: gray;
	padding: 0px;
}

#toc a.wb-link:hover, #toc-large-device a.wb-link:hover {
	display: inline-block;
	width: 100%;
	border: none;
	color: #000;
}

#toc li.current a.wb-link, #toc-large-device li.current a.wb-link {
	color: #000;
	outline: none;
	font-style: italic;
}

#toc .wb-toc-item-title, #toc-large-device .wb-toc-item-title {
	float: left;
	vertical-align: bottom;
}

#toc [data-wb-element-page-number], #toc-large-device [data-wb-element-page-number] {
	float: right;
	vertical-align: bottom;
}

/*
options content
*/
#options, #options-medium {
	text-align: center;
}

#options .options-header, #options-medium .options-header {
	padding: 16px 0px;
	border-bottom: 1px solid #ddd;
	letter-spacing: 1.5px;
}

#options #font-size-container, #options-medium #font-size-container,
#options #font-family-container, #options-medium #font-family-container {
	width: 215px;
	margin: auto;
	padding: 16px 0px;
}

#options #font-family-container > p, #options-medium #font-family-container > p,
#options #font-size-container > p, #options-medium #font-size-container > p {
	margin-bottom: 7px;
}

#options .col-left, #options-medium .col-left {
	float: left;
	width: 50%;
}

#options .col-right, #options-medium .col-right {
	float: right;
	width: 50%;
}

#options #font-size-container, #options-medium #font-size-container {
	clear: both;
}

#options label {
	width: 50%;
}

/*
TOP
*/
#top {
	position: absolute;
	top: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 12px;
	text-align: center;
	width: 100%;
	height: 30px;
}

#top .wb-current-section-title {
	display: inline-block;
	width: 80%;
	white-space: nowrap;
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

/*
BOTTOM
*/
#bottom {
	position: absolute;
	bottom: 0px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: transparent;
}

#bottom span {
	display: inline-block;
	min-width: 42px;
	margin: 0px;
	margin-top: 0px;
	font-size: 1em;
	background-color: transparent;
	min-width: 25px;
	height: 100%;
	padding: 0px 16px 0px 16px;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

/*
TEXT*/

/*
TEXT
*/
[data-wb-text] {
/*
	font-family: Noto Serif, Georgia, serif;
*/
/*
	font-size: 14px;
*/
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	will-change: transform;
	transform: translateZ(0);
	-webkit-transform: translate-z(0);
	-ms-transform: translate-z(0);
}



@media screen and (min-width: 768px) {
    [data-wb-text] {
        font-size: 16px;
        line-height: 1.5em;
    }
}

[data-wb-text] p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 1.5em;
}


/*
INSIDE TEXT
* 
* 
*/
[data-wb-text] .wb-section {
	margin-bottom: 300%;
	min-height: 10%;
}

/*
TITLES
*/

[data-wb-text] #cover {
	opacity: 0.9;
}

/*
DIV FIN
*/
[data-wb-text] #fin {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	
}

#fin p {
	padding-top: 20%;
	text-indent: 0px;
}

p.section-title, p.notes-title, p.wb-toc-title {
	font-size: 1.25em;
	text-indent: 0px;
}

p.notes-title {
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
}

p.section-title {
	padding-top: 3.5em;
	margin-top: 0px;
	margin-bottom: 1.5em;
	text-indent: 0px;
	line-height: 2em;
}

p.section-title.margin-small {
	margin-bottom: 0.5em;
}

p.section-subtitle {
	font-size: 1em;
	text-indent: 0px;
	margin-bottom: 1.5em;
}

p.section-subtitle_large {
	font-size: 1.25em;
	text-indent: 0px;
	margin-bottom: 1.5em;
}

#cover.wb-section {
	text-align: center;
}

#cover-author, #cover-title, #cover-logo {
	margin: 0px;
	text-indent: 0px;
}

p.note {
	text-indent: 0px;
}

/*
TEXT EXERGUE
*/
[data-wb-text] div.text-exergue {
	text-align: right;
	padding-top: 10em;
	padding-left: 1.5em
}

[data-wb-text] div.text-exergue p.text-exergue {
	padding-top: 0em;
}

[data-wb-text] p.sign-exergue {
	padding-top: 1em;
	padding-right: 1.5em
}

/*
NO-BREAK
*/
[data-wb-text] .no-break-inside {
	page-break-inside: avoid;
}

/*
VERSES
*/
[data-wb-text] .verses {
	margin: 1.5em 0 1.5em 2.5em;
	font-size: 0.9em;
}

[data-wb-text] .verses p {
	text-indent: -1em;
}

[data-wb-text] p.verses-signature {
	text-align: right;
	font-size: 0.9em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;
}

/*
SIGNATURE
*/
[data-wb-text] .signature {
	text-align: right;
	padding-bottom: 1.5em;
	padding-right: 1.5em
}

/*
PADDING
*/
[data-wb-text] .padding-top-35 {
	padding-top: 3.5em;
}


/*
LINES BEFORE/AFTER
*/
[data-wb-text] p.p_half_line_before {
	margin-top: 0.75em;
}

[data-wb-text] p.p_line_before {
	margin-top: 1.5em;
}

[data-wb-text] p.p_2line_before {
	margin-top: 3em;
}

[data-wb-text] p.p_line_after {
	margin-bottom: 1.5em;
}

/*
LINE-HEIGHT
*/
[data-wb-text] p.line_height_one {
	line-height: 1em;
	padding-top: 0.5em;
}

/*
SUP
*/
[data-wb-text] sup.line_height_one {
	line-height: 1em;
}


/*
SEPARATION
*/
[data-wb-text] p.separation {
	text-indent: 0px;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	line-height: 1em;
	font-size: 0.8em;
}

/*
POINTS DE SUSPENSION
*/

[data-wb-text] p.points {
	text-indent: 0px;
	width: 100%;
	overflow: hidden;
	padding-left: 0em;
}

[data-wb-text] p.points span {
	padding-right: 1.5em;
}

/*
NEGATIVE MARGIN
*/

[data-wb-text] p.negative_margin {
	margin-top:-1.5em;
	text-indent: 0px;
}

[data-wb-text] p.negative_margin span {
	background-color: #fafafa;
	padding-left:0.5em;
	padding-right: 0.5em;
	font-size: 0.9em;
}

/*
NOTES
*/
[data-wb-text] .note a.wb-link {
	color: #006dcc;
}

[data-wb-text] .note-section p {
	font-size: 0.9em;
}

[data-wb-text] .note-section p.note {
	margin-top: 1.5em;
}

[data-wb-text] .note-section p.notes-title {
	font-size: 1.25em;
}

/*
DIVERS
*/

[data-wb-text] .font-small-9 {
	font-size: 0.9em;
}

[data-wb-text] .font-small-8 {
	font-size: 0.8em;
}

[data-wb-text] p.no-indent {
	text-indent: 0px;
}

[data-wb-text] p.indent-3 {
	text-indent: 3em;
}

[data-wb-text] p.indent-6 {
	text-indent: 6em;
}

/*
HYPHENATION
*/
[data-wb-text] p, .hyphenate {
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
}
[data-wb-text] p.section-title, [data-wb-text] #cover p, .no-hyphenate {
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -o-hyphens: none;
}



