/*
BOOK LOADER
*/

#book-loader-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

#book-loader-container.hidden {
	display: none;
}

#book-loader {
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 1;
    border: 8px solid #f3f3f3; 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
TEXT LOADER
*/

#text-loader-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

#text-loader-container.hidden {
	display: none;
}

#text-loader {
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 1;
    border: 8px solid #f3f3f3;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    -webkit-animation: textSpin 2s linear infinite;
    animation: textSpin 2s linear infinite;
}

@-webkit-keyframes textSpin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes textSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
BOOK NAVBAR BOTTOM
*/
#book-nav-bar-bottom {
	display: none;
	height: 44px;
	position: relative;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom {
		display: block;
	}
}

#book-nav-bar-bottom-controls {
	position: relative;
	display: block;
	height: 44px;
	width: 550px;
	margin: auto;
	text-align: center;
}

#book-nav-bar-bottom-controls #center {
	width: 120px;
	margin: auto;
}

#book-nav-bar-bottom-controls #center #backward-large {
	float: left;
}

#book-nav-bar-bottom-controls #center #forward-large {
	float: right;
}

#book-nav-bar-bottom-controls span, #book-nav-bar-bottom-controls button {
	outline: none;
	height: 100%;
	background-color: transparent;
	display: inline-block;
}

#book-nav-bar-bottom-controls #open-toc-large {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #open-options-medium {
	position: absolute;
	top: 0px;
	right: 56px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #home-large {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #add-bookmark-large {
	position: absolute;
	top: 0px;
	left: 56px;
	padding-bottom: 10px;
}

@media screen and (min-width: 1366px) {
	#book-nav-bar-bottom-controls #open-toc-large, 
	#book-nav-bar-bottom-controls #home-large, 
	#book-nav-bar-bottom-controls #open-options-medium, 
	#book-nav-bar-bottom-controls #add-bookmark-large {
		display: none;
	}
}

/*
BOOK NAV-BAR-BOTTOM-SMALL
*/

#book-nav-bar-bottom-small {
	display: block;
	height: 30px;
	position: relative;
	margin: auto;
	background-color: #333;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom-small {
		display: none;
	}
}

#book-nav-bar-bottom-small .w3-btn {
	display: inline-block;
	border: none;
	background-color: transparent;
	height: 100%;
	padding: 3px 0px 0px 0px;
	margin: 0px;
	outline: none;
	width: 24%;
}

/*
BOOKCONTAINER
*/
#bookContainer {
	font-family: 'Georgia', serif;
	position: relative;
	color: #000;
	opacity: 0.0;
	margin: auto;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
}

#bookContainer.show {
	opacity: 1.0;
}

/*
TEXTCONTAINER
*/
[data-wb-text-container] {
	margin: auto;
	background-color: #fafafa;
}

/*
TOC-LARGE-DEVICE, TAB-OPTIONS, TAB-INFOS, HOME
*/

#toc-large-device, #tab-infos, #tab-options {
  position: absolute;
  top: 0px;
  right: -40%;
  width: 33%;
  transition: right 0.5s;
  -webkit-transition : right 0.5s;
  -moz-transition : right 0.5s;
  -o-transition: right 0.5s;
  display: none;
  background-color: #fafafa;
}

@media screen and (min-width: 1366px) {

	#toc-large-device, #tab-infos, #tab-options {
		display: block
	}

}

#toc-large-device.open, #tab-infos.open, #tab-options.open {
	right: 0px;
}



#toc-large-device-container, #tab-infos-container, #tab-options-container {
	width: 100%;
	background-color: #fafafa;
	overflow-y: auto;
}


#toc-large-device-container > div {
	background-color: #fafafa;
	position: relative;
	height: 100%;
	width: 100%;
}

#tab-infos-container p {
	margin: 0px;
	margin-top: 8px;
}

#tab-infos-container ul {
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}

#tab-infos-container .contrib-role {
	text-transform: capitalize;
}

#tab-options-container {
	text-align: center;
}

#tab-options-container #font-size-container-large {
	max-width: 250px;
	margin: auto;
}

.options-title {
	font-variant: small-caps;
	font-size: 1.2em;
}

/*
BOOK COMMANDS
*/


#book-commands {
	position: fixed;
	left: 32px;
	width: 75px;
	display: none;
}

@media screen and (min-width: 1366px) {
	#book-commands {
		display: block;
	}
}

#close-toc-large-device, #close-tab-infos, #close-tab-options {
    position: absolute;
	right: 100%;
	top: 0px;
	margin-right: 16px;
	outline: none;
	background-color: #fafafa;
	font-size: 1.2em;
	font-family: 'Verdana', serif;
}

#toggle-toc-large-device, #toggle-tab-options, #toggle-tab-infos, #tab-add-bookmark, #tab-home-link {
    position: absolute;
	right: 0px;
	width: 80px;
	margin-right: 16px;
	outline: none;
	font-size: 1em;
}

#toggle-toc-large-device {
	top: 0px;
}

#toggle-tab-options {
	top: 48px;
}

#toggle-tab-infos {
	top: 96px;
}

#tab-add-bookmark {
	top: 144px;
}

#tab-home-link {
	top: 192px;
}

/*
toggle toc-large-device, swing-container, swing-bar
*/
/*
if toc-large-device.open : swing-container to left
*/
#swing-container {
	margin-right: 0px;
	transition: margin-right 0.8s;
	-webkit-transition : margin-right 0.8s;
	-moz-transition : margin-right 0.8s;
    -o-transition: margin-right 0.8s;
	
}

#swing-container.left {
		margin-right: 0px;
	}

@media screen and (min-width: 1366px) {
	#swing-container.left {
		margin-right: 33%;
	}
}

/*
if toc-large-device.open : swing-bar to left
*/
#swing-bar {
	margin-right: 0px;
	transition: margin-right 0.9s;
	-webkit-transition : margin-right 0.9s;
	-moz-transition : margin-right 0.9s;
    -o-transition: margin-right 0.9s;
}

#swing-bar.left {
	margin-right: 0px;
}

@media screen and (min-width: 1366px) {
	#swing-bar.left {
		margin-right: 33%;
	}
}

/*
TOC, OPTIONS (< 1366px)
*/
#toc, #options, #options-medium {
	position: absolute;
	top: -1000px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
/*
	transition: top 0.4s;
	-webkit-transition : top 0.4s;
	-moz-transition : top 0.4s;
    -o-transition: top 0.4s;
*/
	padding: 0px;
	background-color: #fafafa;
}

#toc.open, #options.open, #options-medium.open {
	top: 0px;
}



#toc > div, #options > div, #options-medium > div {
	position: relative;
	background-color: #fafafa;
}

#close-toc, #close-options, #close-options-medium {
	background-color: transparent;
	line-height: 27px;
	font-size: 2em;
	font-family: 'Georgia', sans-serif;
}

#toc-title {
	margin-bottom: 30px;
	margin-top: 20px
}

#toc-title p {
	margin: 8px;
}
/*
toc list
*/
#toc ul, #toc-large-device ul {
	padding: 0px;
}

#toc li, #toc-large-device li {
	list-style-type: none;
	padding: .5em .5em;
}

#toc a.wb-link, #toc-large-device a.wb-link {
	display: inline-block;
	width: 100%;
	border: none;
	color: gray;
}

#toc a.wb-link:hover, #toc-large-device a.wb-link:hover {
	display: inline-block;
	width: 100%;
	border: none;
	color: #000;
}

#toc li.current a.wb-link, #toc-large-device li.current a.wb-link {
	color: #000;
	outline: none;
	font-style: italic;
}

#toc [data-wb-element-page-number], #toc-large-device [data-wb-element-page-number] {
	float: right;
}


/*
options content
*/
#options > div, #options-medium > div {
	text-align: center;
}

#options #font-size-container, #options-medium #font-size-container {
	width: 250px;
	margin: auto;
}

/*
TOP
*/
#top {
	position: absolute;
	top: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 12px;
	text-align: center;
	width: 100%;
	height: 30px;
}

#top .wb-current-section-title {
	display: inline-block;
	width: 80%;
	white-space: nowrap;
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

/*
BOTTOM
*/
#bottom {
	position: absolute;
	bottom: 0px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	background-color: transparent;
}

#bottom span {
	display: inline-block;
	min-width: 42px;
	margin: 0px;
	margin-top: 0px;
	font-size: 1em;
	background-color: transparent;
	min-width: 25px;
	height: 100%;
	padding: 0px 16px 0px 16px;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

/*
TEXT
*/
[data-wb-text] {
	font-size: 14px;
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
	opacity: 1;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
}

@media screen and (min-width: 768px) {
    [data-wb-text] {
        font-size: 16px;
        line-height: 1.5em;
    }
}

[data-wb-text] p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 1.5em;
}

/*
INSIDE TEXT
*/
/*
TITLES
*/
p.section-title, p.notes-title, p.wb-toc-title {
	font-size: 1.25em;
	text-align: left;
	text-indent: 0px;
}

p.notes-title {
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
}

p.section-title {
	padding-top: 3.5em;
	margin-top: 0px;
	margin-bottom: 1.5em;
	text-indent: 0px;
	line-height: 2em;
}

p.section-subtitle {
	font-size: 1em;
	text-indent: 0px;
	margin-bottom: 1.5em;
}

#cover.wb-section {
	text-align: center;
}

#cover-author, #cover-title, #cover-logo {
	margin: 0px;
	text-indent: 0px;
}

p.note {
	text-indent: 0px;
}

#fin {
	text-align: center;
	
}

#fin p {
	padding-top: 20%;
	text-indent: 0px;
}
