/*
BOOK LOADER
*/

#progress-page {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
}

#progress-page.hidden {
	display: none;
}

#progress-container {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 250px;
    height: 30px;
    margin: -125px 0 0 -125px;
    background-color:  #f3f3f3;
}

@media screen and (min-width: 768px) {
	#progress-container {
		width: 350px;
		height: 30px;
		margin: -175px 0 0 -175px;
	}
}

#progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 100%;
	transition: width 0.4s;
	-webkit-transition: width 0.4s;
	-moz-transition: width 0.4s;
	-o-transition: width 0.4s;
}

/*
BOOK NAVBAR BOTTOM
*/
#book-nav-bar-bottom {
	display: none;
	height: 44px;
	position: relative;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom {
		display: block;
	}
}

#book-nav-bar-bottom-controls {
	display: block;
	position: relative;
	width: 550px;
	margin: auto;
	height: 44px;
	text-align: center;
}

#book-nav-bar-bottom-controls #center {
	width: 120px;
	margin: auto;
}

#book-nav-bar-bottom-controls #center #backward-large {
	float: left;
}

#book-nav-bar-bottom-controls #center #forward-large {
	float: right;
}

#book-nav-bar-bottom-controls span {
	outline: none;
	height: 100%;
	background-color: transparent;
}

#book-nav-bar-bottom-controls #open-toc-large {
	position: absolute;
	top: 0px;
	right: 0px;
	display: inline-block;
	padding-bottom: 10px;
}

#book-nav-bar-bottom-controls #home-large {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	padding-bottom: 10px;
}

@media screen and (min-width: 1366px) {
	#book-nav-bar-bottom-controls #open-toc-large, #book-nav-bar-bottom-controls #home-large {
		display: none;
	}
}

/*
BOOKCONTAINER
*/
#bookContainer {
	font-family: 'Georgia', serif;
	position: relative;
	color: #000;
	opacity: 0.0;
	margin: auto;
	transition: opacity 0.8s;
	-webkit-transition: opacity 0.8s;
	-moz-transition: opacity 0.8s;
	-o-transition: opacity 0.8s;
}

#bookContainer.show {
	opacity: 1.0;
}

/*
TEXTCONTAINER
*/
[data-wb-text-container] {
	margin: auto;
	background-color: #fafafa;
}

@media screen and (min-width: 768px) {
	[data-wb-text-container] {
/*
		border: 1px solid rgb(204,204,204);
*/
	}
}

/*
TOC-LARGE-DEVICE, TAB-INFOS
*/

#toc-large-device, #tab-infos {
  position: absolute;
  top: 0px;
  right: -40%;
  width: 33%;
  transition: right 0.5s;
  -webkit-transition : right 0.5s;
  -moz-transition : right 0.5s;
  -o-transition: right 0.5s;
  display: none;
  background-color: #fafafa;
}

@media screen and (min-width: 1366px) {

	#toc-large-device, #tab-infos {
		display: block
	}

}

#toc-large-device.open, #tab-infos.open {
	right: 0px;
}



#toc-large-device-container, #tab-infos-container {
	width: 100%;
	background-color: #fafafa;
	overflow-y: auto;
}


#toc-large-device-container > div {
	background-color: #fafafa;
	position: relative;
	height: 100%;
	width: 100%;
}

#tab-infos-container {
	font-family: 'Verdana', serif;
}

#tab-infos-container p {
	margin: 0px;
	margin-top: 8px;
}

#tab-infos-container ul {
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}

#tab-infos-container .contrib-role {
	text-transform: capitalize;
}


/*
toggle toc-large-device, swing-container, swing-bar
*/

#book-commands {
	position: fixed;
	left: 32px;
	width: 75px;
	display: none;
}

@media screen and (min-width: 1366px) {
	#book-commands {
		display: block;
	}
}

#close-toc-large-device, #close-tab-infos {
    position: absolute;
	right: 100%;
	top: 0px;
	margin-right: 16px;
	outline: none;
	background-color: #fafafa;
	font-size: 1.2em;
	font-family: 'Verdana', serif;
}

#toggle-toc-large-device, #toggle-tab-infos, #tab-home-link {
    position: absolute;
	right: 0px;
	width: 75px;
	margin-right: 16px;
	outline: none;
	background-color: #fafafa;
	font-size: 1em;
}

#toggle-toc-large-device {
	top: 0px;
}

#toggle-tab-infos {
	top: 48px;
}

#tab-home-link {
	top: 96px;
}

/*
if toc-large-device.open : swing-container to left
*/
#swing-container {
	margin-right: 0px;
	transition: margin-right 0.8s;
	-webkit-transition : margin-right 0.8s;
	-moz-transition : margin-right 0.8s;
    -o-transition: margin-right 0.8s;
	
}

#swing-container.left {
		margin-right: 0px;
	}

@media screen and (min-width: 1366px) {
	#swing-container.left {
		margin-right: 33%;
	}
}

/*
if toc-large-device.open : swing-bar to left
*/
#swing-bar {
	margin-right: 0px;
	transition: margin-right 0.9s;
	-webkit-transition : margin-right 0.9s;
	-moz-transition : margin-right 0.9s;
    -o-transition: margin-right 0.9s;
}

#swing-bar.left {
	margin-right: 0px;
}

@media screen and (min-width: 1366px) {
	#swing-bar.left {
		margin-right: 33%;
	}
}

/*
TOC
*/
#toc {
	position: absolute;
	top: -1000px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
/*
	transition: top 0.4s;
	-webkit-transition : top 0.4s;
	-moz-transition : top 0.4s;
    -o-transition: top 0.4s;
*/
	padding: 0px;
	background-color: #fafafa;
}

#toc.open {
	top: 0px;
}

#toc > div {
	position: relative;
	background-color: #fafafa;
}

#open-toc {
	float: right;
	font-size: 1.4em;
}

#close-toc {
	background-color: transparent;
	line-height: 27px;
	font-size: 2em;
	font-family: 'Georgia', sans-serif;
}

#toc-title {
	margin-bottom: 30px;
	margin-top: 20px
}

#toc-title p {
	margin: 8px;
}
/*
toc list
*/
#toc ul, #toc-large-device ul {
	padding: 0px;
}

#toc li, #toc-large-device li {
	list-style-type: none;
	padding: .5em .5em;
}

#toc a.wb-link, #toc-large-device a.wb-link {
	display: inline-block;
	width: 100%;
	border: none;
	color: gray;
}

#toc a.wb-link:hover, #toc-large-device a.wb-link:hover {
	display: inline-block;
	width: 100%;
	border: none;
	color: #000;
}

#toc li.current a.wb-link, #toc-large-device li.current a.wb-link {
	color: #000;
	outline: none;
	font-style: italic;
}

#toc [data-wb-element-page-number], #toc-large-device [data-wb-element-page-number] {
	float: right;
}

/*
TOP
*/
#top {
	position: absolute;
	top: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 12px;
	text-align: center;
	width: 100%;
	height: 30px;
}

#top .wb-current-section-title {
	display: inline-block;
	width: 80%;
	white-space: nowrap;
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

/*
BOTTOM
*/
#bottom {
	position: absolute;
	bottom: 0px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 500;
	background-color: #fafafa;
	color: #000;
}

#bottom-large {
	position: absolute;
	bottom: -9999px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 500;
}

@media screen and (min-width: 768px) {
		
	#bottom {
		bottom: -9999px
	}
	
	#bottom-large {
		bottom: 5px;
	}
}

#bottom button, #bottom a, #bottom span {
	display: inline-block;
	border: none;
	background-color: transparent;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 25px;
	height: 100%;
	padding: 0;
	font-size: 1.2em;
}

#bottom button.open-toc {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 1.5em;
}

#bottom a#home {
	position: absolute;
	left: 0px;
	top: 0px;
	text-decoration: none;
	font-size: 2.em;
	font-weight: 700;
}

#bottom span {
	display: inline-block;
	min-width: 42px;
	margin: 0px;
	margin-top: 0px;
	font-size: 1em;
}

/*
TEXT
*/
[data-wb-text] {
	font-size: 14px;
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (min-width: 768px) {
    [data-wb-text] {
        font-size: 16px;
        line-height: 1.5em;
    }
}

[data-wb-text] p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-indent: 1.5em;
}

/*
INSIDE TEXT
*/
/*
TITLES
*/
p.section-title, p.notes-title, p.wb-toc-title {
	font-size: 1.25em;
	text-align: left;
	text-indent: 0px;
}

p.notes-title {
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
}

p.section-title {
	padding-top: 3.5em;
	margin-top: 0px;
	margin-bottom: 1.5em;
	text-indent: 0px;
	line-height: 2em;
}

p.section-subtitle {
	font-size: 1em;
	text-indent: 0px;
	margin-bottom: 1.5em;
}

#titre.wb-section {
	text-align: center;
	line-height: 1.8em;
}

#cover-author, #cover-title, #cover-logo {
	margin: 0px;
	text-indent: 0px;
}

p.note {
	text-indent: 0px;
}

#fin {
	text-align: center;
	
}

#fin p {
	padding-top: 20%;
	text-indent: 0px;
}
