<div id="options">
	<div>
		<button id="close-options" type="button" class="btn">&times;</button>
		<div class="options-header">
			<p>Taille de la police</p>
		</div>
		
		<div id="font-size-container">
			<div>
				<div>
					<div class="col-left">
						<p><label><input type="radio" name="fontSize" value="13">&ensp;13 px</label></p>
						<p><label><input type="radio" name="fontSize" value="15">&ensp;15 px</label></p>
					</div>
					<div class="col-right">
						<p><label><input type="radio" name="fontSize" value="14">&ensp;14 px</label></p>
						<p><label><input type="radio" name="fontSize" value="16">&ensp;16 px</label></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="options-medium">
	<div>
		<button id="close-options-medium" type="button" class="btn">&times;</button>
		<div class="options-header">
			<p>Taille de la police</p>
		</div>
		<div id="font-size-container">
			<div>
				<div class="col-left">
					<p><label><input type="radio" name="fontSize" value="14">&ensp;14 px</label></p>
					<p><label><input type="radio" name="fontSize" value="16">&ensp;16 px</label></p>
					<p><label><input type="radio" name="fontSize" value="18">&ensp;18 px</label></p>
				</div>
				<div class="col-right">
					<p><label><input type="radio" name="fontSize" value="15">&ensp;15 px</label></p>
					<p><label><input type="radio" name="fontSize" value="17">&ensp;17 px</label></p>
					<p><label><input type="radio" name="fontSize" value="19">&ensp;19 px</label></p>
				</div>
			</div>
		</div>
	</div>
</div>
