<div id="options-modal" class="w3-modal" style="background-color: rgba(0,0,0,0.1)">
	<div class="w3-modal-content w3-card w3-animate-top">
		<div class="w3-container w3-padding-16">
			<button id="close-options" type="button" class="w3-button w3-text-gray w3-hover-none w3-display-topright">&times;</button>
			<div class="w3-padding-16 w3-border-bottom options-title">
				<p class="w3-center">Options de&nbsp;lecture</p>
			</div>
			<div class="w3-padding-16">
				<p><b>Taille de la police</b></p>
				<p class="w3-container"><input type="range" id="font-range" class="w3-input font-range" min="12" max="16" step="1" value="14"></p>
			</div>
		</div>
	</div>
</div>
