<div id="options">
	<div class="w3-container">
		<button id="close-options" type="button" class="w3-button w3-text-gray w3-hover-none w3-display-topright">&times;</button>
		<div class="w3-padding-16 w3-border-bottom options-title">
			<p class="w3-center">Options</p>
		</div>
		<div id="font-size-container"class="w3-padding-16">
			<p><b>Taille de la police</b></p>
			<div>
				<div class="w3-row">
					<div class="w3-col s6">
						<p><label><input type="radio" name="fontSize" value="13"> 13 px</label></p>
						<p><label><input type="radio" name="fontSize" value="15"> 15 px</label></p>
					</div>
					<div class="w3-col s6">
						<p><label><input type="radio" name="fontSize" value="14"> 14 px</label></p>
						<p><label><input type="radio" name="fontSize" value="16"> 16 px</label></p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div id="options-medium">
	<div class="w3-container">
		<button id="close-options-medium" type="button" class="w3-button w3-text-gray w3-hover-none w3-display-topright">&times;</button>
		<div class="w3-padding-16 w3-border-bottom options-title">
			<p class="w3-center">Options</p>
		</div>
		<div id="font-size-container"class="w3-padding-16">
			<p><b>Taille de la police</b></p>
			<div>
				<div class="w3-row">
					<div class="w3-col s6">
						<p><label><input type="radio" name="fontSize" value="15"> 15 px</label></p>
						<p><label><input type="radio" name="fontSize" value="17"> 17 px</label></p>
					</div>
					<div class="w3-col s6">
						<p><label><input type="radio" name="fontSize" value="16"> 16 px</label></p>
						<p><label><input type="radio" name="fontSize" value="18"> 18 px</label></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
