<div id="options-modal" class="w3-modal">
	<div class="w3-modal-content">
		<div class="w3-container w3-padding-16">
			<button id="close-options" type="button" class="w3-button w3-text-gray w3-hover-none w3-display-topright">&times;</button>
			<div class="w3-padding-16 w3-border-bottom">
				<p class="w3-center"><%- book.authorDisplay %></p>
				<p class="w3-center text-uppercase"><%- book.title %></p>
			</div>
			<div class="w3-padding-16">
				<p><b>Taille de la police</b></p>
				<p class="w3-container"><input type="range" id="font-range" class="w3-input font-range" min="12" max="16" step="1" value="16"></p>
			</div>
		</div>
	</div>
</div>
