<div id="adminBooksNew" class="content">
	<h4 class="w3-container align-left w3-padding-16">Ajouter un ouvrage</h4>
	<p class="align-right w3-padding-16"><a href="/#/admin/books/" class="w3-text-gray w3-hover-none w3-hover-text-black">Retour</a></p>
	<div class="w3-container">
		<form id="adminBooksNewForm">
			
			<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
			
			<p id="title">
				<label>Titre : </label>
				<input type="text" name="title" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ title }}"></span>
			</p>
			
			<p id="subtitle1">
				<label>Sous-titre 1 : </label>
				<input type="text" name="subtitle1" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ subtitle1 }}"></span>
			</p>
			
			<p id="subtitle2">
				<label>Sous-titre 2 : </label>
				<input type="text" name="subtitle2" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ subtitle2 }}"></span>
			</p>
			
			<p id="author">
				<label>Auteur : </label>
				<input type="text" name="author" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ author }}"></span>
			</p>
			
			<p id="translator">
				<label>Traducteur : </label>
				<input type="text" name="translator" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ translator }}"></span>
			</p>
			
			<p id="birth">
				<label>Date de naissance : </label>
				<input type="text" name="birth" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ birth }}"></span>
			</p>
			
			<p id="death">
				<label>Date de décès : </label>
				<input type="text" name="death" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ death }}"></span>
			</p>
			
			<p id="description">
				<label>Description : </label>
				<textarea type="text" name="description" class="w3-input w3-border"></textarea>
				<span class="error" data-utils-bind="{{ description }}"></span>
			</p>
			
			<p>
				<button type="submit" class="w3-btn w3-border">Valider</button>
			</p>
			
		</form>
	</div>
</div>
