<ul class="ul">
<% for(var i=0; i<authors.length; i++) {%>
<li>
	<p id="<%= authors[i].id %>" >
		<span><%- authors[i].name %></span> 
		<button type="button" class="add-btn button align-right">Ajouter</button>
	</p>
</li>
<% } %>
</ul>
