<% for(var i=0; i<selectedAuthors.length; i++) {%>
<li>
	<p data-key="<%= selectedAuthors[i].id %>" id="<%= i %>" >
		<span><%- selectedAuthors[i].name %></span>
		<button type="button" id="auteur" class="delete-btn button align-right">Supprimer</button>
	</p>
</li>
<% } %>
