<% for(var i=0; i<selectedAuthors.length; i++) {%>
<li class="w3-display-container">
	<p data-key="<%= selectedAuthors[i].id %>" id="<%= i %>" >
		<span><%- selectedAuthors[i].name %></span>
		<button type="button" id="auteur" class="delete-btn w3-text-gray w3-hover-none w3-hover-text-black w3-button w3-display-right">Supprimer</button>
	</p>
</li>
<% } %>
