<% for(var i=0; i<sources.length; i++) {%>
<li>
	<p id="<%= i %>" >
		<span><%- sources[i] %></span>
		<button type="button" class="delete-source-btn button align-right">Supprimer</button>
	</p>
</li>
<% } %>
