* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height:100%;
	padding: 0px;
	margin: 0px;
	border: none;
	position: relative;
}

body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: #fff;
	font-size: 14px;
	position: relative;
}

body.book {
	overflow: hidden;
}

#loader-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 10%;
	background-color: #fafafa;
}

#loader-container.hidden {
	display: none;
}

#loader {
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 1;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #333333; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/*
HELPERS
*/

.text-uppercase {
	text-transform:uppercase;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

/*
LINKS
*/
a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

/*
NAV-BAR-TOP
*/
/*
When not book-read only
*/
#nav-bar-top {
	display: block;
	top: 0px;
	height: 48px;
	position: relative;
	font-size: 14px
}

#nav-bar-top.hidden {
	position: fixed;
	top: -1000px;
}

#home-link {
	position: absolute;
	left: 0px;
	top: 5px;
	margin-top: 0px;
	line-height: 27px;
	font-size: 1.6em;
	font-style: italic;
	letter-spacing: 2px;
	font-family: "Times New Roman", Georgia, sans-serif;
}

/*
Medium and large devices only
*/
#top-links {
	font-size: 14px;
	width:90%;
	margin: auto;
	text-align: center;
	font-size: 1.2em;
}

#top-links ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#top-links ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

#books-link, #last-link, #next-link, #authors-link, #admin-link {
	margin-top: 10px;
	line-height: 22px;
	font-family: "Times New Roman", Georgia, sans-serif;
	font-variant: small-caps;
	letter-spacing: 1px;
}

#admin-item {
	display: inline-block;
}

#admin-item.hidden {
	display: none;
}

#search-open {
	position: absolute;
	right: 44px;
	top: 5px;
	height: 42px;
	display: inline-block;
	padding-right: 12px;
	padding-left: 12px;
}

@media only screen and (min-width: 768px) {
	#search-open {
		right: 0px;
		top: 8px;
	}
}

#search-open.hidden {
		display: none;
	}

/*
Small devices only
*/
#menu-open {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 47px;
	line-height: 27px;
	font-size: 2em;
	font-family: "Times New Roman", 'Georgia', serif;
}

/*
MODAL MENU (SMALL DEVICES)
*/

#menu {
	padding: 0px;
}

#menu .w3-modal-content {
	margin: 0px;
	width: 100%;
	height: 100%;
}

#menu .w3-modal-content > div {
	height: 100%;
}

#menu #menu-nav-bar {
	height: 48px;
}

#menu #menu-close {
	height: 47px;
	line-height: 27px;
	font-size: 2em;
	font-family: "Times New Roman", Georgia, sans-serif;
}

#menu ul {
	text-align: center;
	padding-top: 32px;
}

#menu-home-link {
	margin-top: 5px;
	line-height: 27px;
	font-size: 1.6em;
	font-style: italic;
	letter-spacing: 2px;
	font-family: "Times New Roman", Georgia, sans-serif;
}

#menu-admin-item {
	display: list-item;
}

#menu-admin-item.hidden {
	display: none;
}

#menu ul a {
	display: inline-block;
	width: 100%;
	line-height: 31px;
	font-family: "Times New Roman", Georgia, sans-serif;
	font-variant: small-caps;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

/*
SEARCH INPUT
*/

#search-modal label {
	font-size: 1em;
	font-family: "Verdana", serif;
	letter-spacing: 1px;
}

#search-form {
	text-align: center;
}

#search-valid {
	font-size: 1em;
	font-family: "Verdana", sans-serif;
	letter-spacing: 1px;
}

#search-close {
	line-height: 27px;
	font-size: 1.5em;
	font-family: "Verdana", sans-serif;
}

/*
CONTAINER, ADMIN-CONTAINER
*/
#container, #admin-container {
	width: 100%;
}

/*
CONTENT
*/
.content {
	width: 100%;
}

@media only screen and (min-width: 768px) {

	.content {
		max-width: 900px;
		margin: auto;
	}
}

/*
ERROR MESSAGES
*/
.error {
	display: inline-block;
	line-height: 0.85em;
	color: red;
	font-size: 0.85em;
}

.success {
	display: inline-block;
	line-height: 0.85em;
	color: green;
	font-size: 0.85em;
}

