<div id="admin" class="content">
	<div class="container padding-16">
		<h3 class="container text-center">Espace administration</h3>
		<nav id="admin-nav-bar-top" class="bar">
			<a id="admin-home" href="/#/admin/" class="bar-item">Accueil</a>
			<a id="admin-users" href="/#/admin/users/" class="bar-item">Utilisateurs</a>
			<a id="admin-books" href="/#/admin/books/" class="bar-item">Ouvrages</a>
			<a id="admin-authors" href="/#/admin/authors/" class="bar-item">Auteurs</a>
		</nav>
		<div id="admin-container"></div>
	</div>
</div>
