#books-next-container #top-page-header {
	text-align: center;
	font-family: "Times New Roman", Georgia, sans-serif;
	font-size: 1em;
	font-variant: small-caps;
	letter-spacing: 1px;
	line-height: 25px;
	width: 100px;
	margin: auto;
	margin-top: 16px;
	display: block;
}

@media only screen and (min-width: 768px) {
	#books-next-container #top-page-header {
		display: none;
	}
}

#books-next-container #booksList {
	max-width: 568px;
	margin: auto;
}

@media only screen and (min-width: 853px) {
	#books-next-container #booksList {
		max-width: 852px;
	}
}

@media only screen and (min-width: 1137px) {
	#books-next-container #booksList {
		max-width: 1136px;
	}
}

#books-next-container .w3-col {
	width: 100%;
	height: 408px;
}

@media only screen and (min-width: 600px) {
	#books-next-container .w3-col {
		width: 284px;
	}
}

#books-next-container #paper {
	background-image: url("/images/cover_background.jpg");
	width: 250px;
	height: 340px;
	margin:auto;
}

#books-next-container .book {
	width: 250px;
	height: 340px;
	margin:auto;
}

#books-next-container #book-btn {
	width: 238px;
	height: 40px;
	margin: auto;
	margin-top: 8px;
}

#books-next-container #book-btn button {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 1em;
	letter-spacing: 1.5px;
}

/*
MODAL (INFOS)
*/
#books-next-container .w3-modal {
	font-family: "Times New Roman", Georgia, serif;
}

#books-next-container .w3-modal #footer {
	padding-top: 16px;
}

#books-next-container .w3-modal .close-infos-btn {
	font-size: 1.1em;
	font-family: "Times New Roman", Georgia, sans-serif;
	letter-spacing: 1px;
}

#books-next-container .w3-modal p {
	margin: 0px;
	margin-top: 8px;
}

#books-next-container .w3-modal ul {
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}

#books-next-container .w3-modal .contrib-role {
	text-transform: capitalize;
}



