#books-next-container #booksList {
	max-width: 568px;
	margin: auto;
}

@media only screen and (min-width: 853px) {
	#books-next-container #booksList {
		max-width: 852px;
	}
}

@media only screen and (min-width: 1137px) {
	#books-next-container #booksList {
		max-width: 1136px;
	}
}

#books-next-container .w3-col {
	width: 100%;
	height: 370px;
}

@media only screen and (min-width: 600px) {
	#books-next-container .w3-col {
		width: 284px;
	}
}

#books-next-container #paper {
	background-image: url("/images/cover_background_small.jpg");
	width: 250px;
	height: 340px;
	margin:auto;
}

#books-next-container .book {
	width: 250px;
	height: 340px;
	margin:auto;
}

#books-next-container .publisher {
	letter-spacing: 1.5px;
	font-family: "Times New Roman", Georgia, sans-serif;
}


