[data-wb-text] {
	font-family: 'Noto Serif', 'Georgia', serif;
}

[data-wb-text].cover {
	background-color: rgba(115, 63, 63, 0.8);
	background-image: url("/books/expedition_nocturne_autour_de_ma_chambre/expedition_nocturne_autour_de_ma_chambre_cover.jpg");
}

[data-wb-text] #cover {
	position: static;
}

[data-wb-text] #cover-author {
	font-size: 1.2em;
	letter-spacing: 1px;
	opacity: 0.75;
}

[data-wb-text] #cover-title {
	margin-top: 1.5em;
	padding-top: 0%;
	font-size: 1.6em;
	line-height: 1.6em;
	word-spacing: 0.25em;
	letter-spacing: 3px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo {
	position: absolute;
	bottom: 2em;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	letter-spacing: 2px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo #span {
	font-variant: small-caps;
}

@media only screen and (min-width: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 6%;
		font-size: 1.9em;
		word-spacing: 0.15em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 1.5em;
		font-size: 1.4em;
		letter-spacing: 6px;
	}
}

@media only screen and (min-height: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 8%;
		font-size: 1.9em;
		line-height: 1.9em;
		word-spacing: 0.2em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 3em;
	}
}

@media only screen and (min-height: 680px) {

	[data-wb-text] #cover-author {
		font-size: 1.3em;
		letter-spacing: 2px;
	}

	[data-wb-text] #cover-title {
		padding-top: 10%;
		font-size: 2em;
		line-height: 2em;
	}
}

[data-wb-text] #fin {
	text-transform: uppercase;
	letter-spacing: 2px;
}


[data-wb-text] .section-title {
	text-align: center;
}

[data-wb-text] .section-subtitle {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

[data-wb-text] .note a.wb-link {
	color: #006dcc;
}

[data-wb-text] .note-section p {
	font-size: 0.9em;
}

[data-wb-text] .note-section p.note {
	margin-top: 1.5em;
}

[data-wb-text] .note-section p.notes-title {
	font-size: 1.25em;
}





