* {
	box-sizing: border-box;
}

body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

body.book {
	background-color: #f5f5f5;
}

h1, h2, h3 {
	font-family: 'Roboto Slab', serif;
}

.text-uppercase {
	text-transform:uppercase;
}

/*
LINKS
*/
a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

.align-left {
	float: left;
}


/*
NAV-BAR-TOP
*/
#nav-bar-top {
	display: block;
	position: relative;
	top: 0px;
	text-align: center;
	height: 48px;
}

#nav-bar-top.hidden {
	position: fixed;
	top: -1000px;
}

#brand {
	font-size: 0.8em;
}

@media screen and (min-width: 768px) {
	#brand {
		font-size: 1em;
	}
}

#top-title {
	font-family: Georgia, serif;
	padding: 8px 16px 8px 16px;
	line-height: 27px;
	max-width: 640px;
	margin: auto;
}

/*
BOOK NAVBAR BOTTOM
*/
#book-nav-bar-bottom {
	display: none;
}

@media screen and (min-width: 768px) {
	#book-nav-bar-bottom {
		display: block;
	}
}

#book-nav-bar-bottom-controls {
	display: block;
	position: relative;
	width: 640px;
	margin: auto;
	height: 44px;
	text-align: center;
}

#nav-bar-bottom-controls button {
	outline: none;
	height: 100%;
}

#book-nav-bar-bottom-controls button#open-toc-large.w3-btn span {
	display: inline-block;
	padding-bottom: 10px;
}

/*
a
*/

a {
	text-decoration: none;
}


/*
a.active {
	color: #000;
}
*/

/*
button
*/

button {
/*
	padding: 5px;
*/
}


/*
container
*/
#container {
	width: 100%;
}

/*
content
*/
.content {
	width: 100%;
}

@media only screen and (min-width: 768px) {

	.content {
		max-width: 900px;
		margin: auto;
	}
}

/*
BOOKCONTAINER
*/
#bookContainer {
	font-family: 'Georgia', serif;
	opacity: 0.0;
	margin: auto;
	transition: opacity 0.5s;
	-webkit-transition : opacity 0.5s;
	-moz-transition : opacity 0.5s;
	-o-transition: opacity 0.5s;
}

#bookContainer.show {
	opacity: 1.0;
}

/*
TEXTCONTAINER
*/
[data-wb-text-container] {
	margin: auto;
	background-color: #fff;
	top: 0px;
}

@media screen and (min-width: 768px) {
	[data-wb-text-container] {
		top: 30px;
	}
}

/*
TOC-LARGE-DEVICE
*/

#toc-large-device {
  position: absolute;
  left: -33%;
  width: 33%;
  margin-top: 30px;
  transition: left 0.4s;
  -webkit-transition : left 0.4s;
  -moz-transition : left 0.4s;
  -o-transition: left 0.4s;
  display: none;
}

@media screen and (min-width: 1366px) {

	#toc-large-device {
		display: inline-block
	}

}

#toc-large-device.open {
	left: 0px;
}

#toc-large-device-container {
	width: 100%;
	background-color: #fff;
	z-index: 1000;
	overflow-y: auto;
}

#toc-large-device-container > div {
	background-color: #fff;
	position: relative;
	height: 100%;
	width: 100%;
}

/*
toggle toc-large-device, swing-container, swing-bar
*/

#toggle-toc-large-device {
    position: absolute;
	left: 100%;
	top: 0px;
	margin-left: 6px;
	outline: none;
	background: #fff;
	font-size: 1.5em;
}

/*
if toc-large-device.open : swing-container to left
*/
#swing-container {
	margin-left: 0px;
	transition: margin-left 0.6s;
	-webkit-transition : margin-left 0.6s;
	-moz-transition : margin-left 0.6s;
    -o-transition: margin-left 0.6s;
	
}

#swing-container.left {
		margin-left: 0px;
	}

@media screen and (min-width: 1366px) {
	#swing-container.left {
		margin-left: 33%;
	}
}

/*
if toc-large-device.open : swing-bar to left
*/
#swing-bar {
	margin-left: 0px;
	transition: margin-left 0.9s;
	-webkit-transition : margin-left 0.9s;
	-moz-transition : margin-left 0.9s;
    -o-transition: margin-left 0.9s;
}

#swing-bar.left {
	margin-left: 0px;
}

@media screen and (min-width: 1366px) {
	#swing-bar.left {
		margin-left: 33%;
	}
}

/*
TOC
*/
#toc {
	position: absolute;
	top: -1000px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	transition: top 0.4s;
	-webkit-transition : top 0.4s;
	-moz-transition : top 0.4s;
    -o-transition: top 0.4s;
	padding: 0px;
	background-color: #fff;
}

#toc.open {
	top: 0px;
}

#toc > div {
	position: relative;
	background-color: #fff;
}

.open-toc {
	float: right;
	font-size: 1.4em;
}

#open-toc-large {
	display: inline-block;
}

@media screen and (min-width: 1366px) {
	#open-toc-large {
		display: none;
	}
}

#close-toc {
	position: absolute;
	right: 15px;
	top: 5px;
	min-width: 25px;
	padding: 0;
	border: none;
	background-color: transparent;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.2em;
	color: #424242;
}

#toc-title {
	margin-bottom: 30px;
	margin-top: 20px
}

#toc-title p {
	margin: 0px;
}
/*
toc list
*/
#toc ul, #toc-large-device ul {
	padding: 0px;
}

#toc li, #toc-large-device li {
	list-style-type: none;
	padding: .5em .5em;
}

#toc a.wb-link, #toc-large-device a.wb-link {
	display: inline-block;
	width: 100%;
	border: none;
	color: gray;
}

#toc a.wb-link:hover, #toc-large-device a.wb-link:hover {
	display: inline-block;
	width: 100%;
	border: none;
	color: #000;
}

#toc li.current a.wb-link, #toc-large-device li.current a.wb-link {
	color: #000;
	outline: none;
	font-style: italic;
}

#toc [data-wb-element-page-number], #toc-large-device [data-wb-element-page-number] {
	float: right;
}

/*
TOP
*/
#top {
	position: absolute;
	top: 0px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 8px;
	text-align: center;
	width: 100%;
	height: 30px;
}

#top .wb-current-section-title {
	font-size: 0.8em;
}

/*
BOTTOM
*/
#bottom {
	position: absolute;
	bottom: 5px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 500;
}

#bottom-large {
	position: absolute;
	bottom: -9999px;
	display: inline-block;
	height: 30px;
	width: 100%;
	text-align: center;
	z-index: 500;
}

@media screen and (min-width: 768px) {
		
	#bottom {
		bottom: -9999px
	}
	
	#bottom-large {
		bottom: 5px;
	}
}

#bottom button, #bottom a, #bottom span {
	display: inline-block;
	border: none;
	background-color: transparent;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 25px;
	height: 100%;
	padding: 0;
	font-size: 1.2em;
}

#bottom button.open-toc {
	font-size: 1.5em;
}

#bottom a#home {
	float: left;
	text-decoration: none;
	margin-top: 6px;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
}

#bottom span {
	min-width: 42px;
	margin: 0px;
	margin-top: 6px;
	font-size: 1em;
}

/*
TEXT
*/
[data-wb-text] {
	font-size: 14px;
	line-height: 1.5em;
	text-align: justify;
	text-justify: inter-word;
}

@media screen and (min-width: 768px) {
    [data-wb-text] {
        font-size: 16px;
        line-height: 1.5em;
    }
}

[data-wb-text] p {
	margin-bottom: 0px;
	margin-top: 1.5em;
}

[data-wb-text] a.wb-link {
	border-bottom: 1px dotted black;
}

/*
INSIDE TEXT
*/
/*
TITLES
*/
.section-title, .note-title, .table-title, .wb-toc-title {
	font-size: 1.25em;
	text-align: left;
}

.section-subtitle {
	font-size: 1em;
}

p.section-title {
	padding-top: 3.5em;
	margin-top: 0px;
}

#titre.wb-section {
	text-align: center;
	line-height: 1.8em;
}

.book-title {
	font-size: 1.25em;
	padding-top: 5%;
	text-transform:uppercase;
}

.book-subtitle, .book-author {
	font-size: 1.1em;
}

/*
TABLE DES MATIÈRES
*/
#table ul {
	padding: 0px;
}

#table li {
	list-style-type: none;
	padding: .5em .5em;
}

#table a.wb-link {
	display: inline-block;
	width: 100%;
	border: none;
}

#table [data-wb-element-page-number] {
	float: right;
}

#fin {
	text-align: center;
	
}

#fin p {
	padding-top: 20%;
}





/*
error messages
*/
.error {
	color: #ff0000;
	font-size: 0.85em;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
