<div id="adminAuthor" class="content">
<!--
	MODAL
-->
	<div id="modal" class="w3-modal w3-card-4">
		<div class="w3-modal-content w3-animate-top">
			<header class="w3-container w3-black"> 
				<span id="close-modal-btn" class="w3-button w3-display-topright">&times;</span>
				<h4>Supprimer un auteur</h4>
			</header>
			<div  class="w3-container">
				<p>Voulez-vous vraiment supprimer cet auteur ?</p>
				<p data-utils-bind="{{ firstName }} {{ name }}"></p>
				<p class="w3-right"><button type="button" id="delete-btn" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black">Supprimer</button></p>
			</div>
			
		</div>
	</div>

<!--
	MAIN
-->
	
	<h4 class="w3-container align-left w3-padding-16">Auteur</h4>
	<p class="align-right w3-padding-16"><a href="/#/admin/authors/" class="w3-text-gray w3-hover-none w3-hover-text-black">Retour</a></p>
	<div id="author" class="w3-container">
		<span class='error' data-utils-bind="{{ error }}"></span>
		<div class="w3-border-bottom">
			<p><b>Nom : </b><span data-utils-bind="{{ name }}"></span></p>
			<p><b>Prénom : </b><span data-utils-bind="{{ firstName }}"></span></p>
			<p><b>Nom alphabétique : </b><span data-utils-bind="{{ nameAlpha }}"></p>
			<p><b>Date de naissance : </b><span data-utils-bind="{{ birth }}"></p>
			<p><b>Date de décès : </b><span data-utils-bind="{{ death }}"></p>
			<p><b>Description : </b></p>
			<div data-utils-bind="{{ description }}"></div>
			<p><b>Créé le : </b><span data-utils-bind="{{ created_at }}"></p>
			<p><b>Mis à jour le : </b><span data-utils-bind="{{ updated_at }}"></p>
		</div>
		<p>
			<button type="button" id="edit-btn" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black w3-left">Modifier</button>
			<button type="button" id="open-modal-btn" class="w3-button w3-border w3-text-gray w3-hover-none w3-hover-text-black w3-right">Supprimer</button>
		</p>
	</div>
</div>
