#home-container #booksList {
	max-width: 568px;
	margin: auto;
}

@media only screen and (min-width: 853px) {
	#home-container #booksList {
		max-width: 852px;
	}
}

@media only screen and (min-width: 1137px) {
	#home-container #booksList {
		max-width: 1136px;
	}
}

#home-container .w3-col {
	width: 100%;
	height: 408px;
	
}

@media only screen and (min-width: 600px) {
	#home-container .w3-col {
		width: 284px;
	}
}

#home-container #paper {
	background-image: url("/images/cover_background_small.jpg");
	width: 250px;
	height: 340px;
	margin:auto;
}

#home-container .book {
	width: 250px;
	height: 340px;
	margin:auto;
}

#home-container .publisher {
	font-family: "Times New Roman", Georgia, serif;
	letter-spacing: 1.5px;
}

#home-container #book-btns {
	width: 238px;
	height: 40px;
	margin: auto;
	margin-top: 12px;
}

#home-container #book-btns button, #book-btns a {
	font-family: "Times New Roman", Georgia, serif;
	font-size: 1em;
	letter-spacing: 1.5px;
	font-variant: small-caps;
}



