<div id="adminUsers" class="content">
	<p style="padding-top: 16px; margin-bottom: 0px"><b>Utilisateurs</b></p>
	<span class="error"><%= error %></span>
	<ul id="users-list" class='ul' style="padding: 0px;">
		<% for(var i=0; i<users.length; i++) {%>
		<li>
			<p id='<%= users[i].id %>'>
				<a href='/#/admin/users/<%= users[i].id %>'><%= users[i].email %></a>
			</p>
		</li>
		<% } %>
	</ul>
</div>
