<div id="footer">
	<div id="brand" class="padding-48">
		<p id="logo">&fork;</p>
		<p id="name">l'&eacute;quivoque</p>
	</div>
	<p id="mention">Tous les textes présentés appartiennent au domaine public et sont libres de droits.</p>
</div>
