<div id="footer">
	<div class="padding-16">
		<p id="logo"><img src="/orycterope.jpg" alt="orycterope" height="326" width="468"></p>
	</div>
	<p id="mention">Tous les textes présentés appartiennent au domaine public et sont libres de droits.</p>
</div>
