/*
[data-wb-text] {
	font-family: 'Noto Serif', 'Georgia', serif;
}
*/

[data-wb-text].cover_active {
	background-color: rgba(100, 125, 79, 0.8);
	background-image: url("/books/100_125_79.jpg");
}

[data-wb-text] #cover {
	position: static;
}

[data-wb-text] #cover-author {
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: 1px;
	opacity: 0.75;
}

[data-wb-text] #cover-title {
	margin-top: 1.5em;
	padding-top: 0%;
	font-size: 1.8em;
	text-transform: uppercase;
	line-height: 1.8em;
	word-spacing: 0.2em;
	letter-spacing: 3px;
	opacity: 0.75;
}

[data-wb-text] #cover-logo {
	position: absolute;
	bottom: 2em;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	font-variant: small-caps;
	letter-spacing: 6px;
	text-align: center;
	opacity: 0.75;
}

[data-wb-text] #cover-logo1 {
	font-size: 3em;
	display: none;
}

[data-wb-text] #cover-logo2 {
	font-size: 1.2em;
	margin-top: 48px;
}

@media only screen and (min-height: 460px) {
	[data-wb-text] #cover-logo1 {
		display: block;
	}
}

@media only screen and (min-height: 568px) {

	[data-wb-text] #cover-title {
		padding-top: 8%;
		font-size: 1.9em;
		line-height: 1.9em;
		word-spacing: 0.2em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 2.5em;
	}
	
	[data-wb-text] #cover-logo2 {
		font-size: 1.3em;
	}
}

@media only screen and (min-width: 612px) {

	[data-wb-text] #cover-title {
		padding-top: 4%;
		font-size: 1.9em;
		word-spacing: 0.35em;
		letter-spacing: 3px;
	}
	
	[data-wb-text] #cover-logo {
		bottom: 3em;
	}
	
	[data-wb-text] #cover-logo2 {
		font-size: 1.3em;
		letter-spacing: 6px;
	}
}

@media only screen and (min-height: 680px) {

	[data-wb-text] #cover-author {
		font-size: 1.3em;
		letter-spacing: 2px;
	}

	[data-wb-text] #cover-title {
		padding-top: 14%;
		font-size: 2em;
		line-height: 2em;
	}
}

[data-wb-text] .section-subtitle_long {
	text-align: justify;
	margin-left: 1.5em;
	text-indent: -1.5em;
}

[data-wb-text] .section-subtitle p {
	text-indent: -1.5em;
}

[data-wb-text] .section-exergue {
	text-align: right;
	font-size: 0.9em;
}

[data-wb-text] .section-signature {
	text-align: right;
	font-size: 0.9em;
	padding-bottom: 1.5em;
	padding-right: 1.5em
}







