<div id="adminHome" class="content">
	<p class="padding-16"><b>Accueil</b></p>
	<div class="border-bottom">
		<p><%= user.name %></p>
		<p><%= user.email %></p></p>
	</div>
	<div  class="border-bottom">
		<p><a id="update-user-btn" href="/#/admin/edit/">Modifier profil</a></p>
		<p><a id="update-password-btn" href="/#/admin/edit/password">Modifier mot de passe</a></p>
		<p><a id="new-btn" href="/#/admin/new" >Nouveau compte administrateur</a></p>
	</div>
	<p class="padding-16"><button id="logout-btn" type="button" class="button">Déconnexion</button></p>
</div>
