<div id="adminEdit" class="content">
	<p class="align-left padding-16"><b>Modifier votre profil</b></p>
	<p class="align-right padding-16"><a href="/#/admin/">Retour</a></p>
	<form id="adminEditForm" style="clear:both">
		
		<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
		
		<p id="name">
			<label>Nom : </label>
			<input type="text" name="name" class="input">
			<span class="error" data-utils-bind="{{ name }}"></span>
		</p>
		
		<p id="email">
			<label>Email : </label>
			<input type="text" name="email" class="input">
			<span class="error" data-utils-bind="{{ email }}"></span>
		</p>
		
		<p id="password">
			<label>Mot de passe : </label>
			<input type="password" name="password" class="input">
			<span class="error" data-utils-bind="{{ password }}"></span>
		</p>
		
		<p class="padding-16">
			<button type="submit" class="button">Valider</button>
		</p>
	</form>
</div>
