<div id="authors-container">
	<div id="top-page-header">auteurs</div>
	<div id="letters">
		<%- include src/components/authors/authors-letters.ejs -%>
	</div>
	<ul id="authors-list" class="ul">
		
		<% for(var i=0; i<authors.length; i++) {%>
			<% if(authors[i].visible) { %>
			<li class="author">
				<p class="author-name"><a><%- authors[i].name %></a></p>
			</li>
			<% } %>
		<% } %>
		
	</ul>
</div>
