#authors-container {
	max-width: 750px;
	margin: auto;
}

#authors-container #top-page-header {
	text-align: center;
	font-family: "Vollkorn", Georgia, sans-serif;
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: 4px;
	line-height: 25px;
	margin: auto;
	display: block;
	padding: 32px 0px 32px 0px;
}

@media only screen and (min-width: 750px) {
	#authors-container #top-page-header {
		font-size: 1.4em;
		padding: 48px 0px 32px 0px;
	}
}

#authors-container #letters {
	text-align: center;
	line-height: 37px;
	width: 320px;
	margin: 0px auto;
	padding-bottom: 16px;
}

@media only screen and (min-width: 410px) {
	#authors-container #letters {
		width: 410px;
	}
}

@media only screen and (min-width: 750px) {
	#authors-container #letters {
		width: 585px;
	}
}

#authors-container #letters a {
	padding: 8px;
}

#authors-container #noresult {
	width: 100%;
	text-align: center;
	padding-top: 48px;
	font-family: "Vollkorn", Georgia, sans-serif;
	font-size: 1.1em;
	font-variant: small-caps;
	letter-spacing: 1.5px;
}

#authors-container #authors-list {
	min-height: 476px;
}

.auth {
	position: relative;
}

#authors-container #authors-list {
	max-width: 750px;
	margin: auto;
	padding-bottom: 16px;
}

#authors-container .accordion {
    cursor: pointer;
    text-align: center;
    font-family: "Vollkorn", Georgia, sans-serif;
	font-size: 1.2em;
	font-variant: small-caps;
	letter-spacing: 1.5px;
	padding: 16px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.4s;
}

#authors-container #authors-list .books-list {
	position: relative;
	width: 250px;
	margin: auto;
	display: none;
}

#authors-container #authors-list .books-list .book-item {
	margin-bottom: 48px;
	text-align: center;
}

#authors-container #paper {
	width: 250px;
	height: 340px;
	margin:auto;
}

#authors-container .book {
	width: 250px;
	height: 340px;
	margin: auto;
	position: relative;
}

#authors-container .book .logo .span1 {
	font-size: 2em;
	margin-bottom: 16px;
}

#authors-container .book .logo .span2 {
	font-variant: small-caps;
}

#authors-container #book-btns {
	width: 100%;
	position: relative;
	height: 37px;
}

#authors-container .open-infos-btn {
	font-family: "Vollkorn", Georgia, serif;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: transparent;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#authors-container .tobepublished {
	font-family: "Vollkorn", Georgia, serif;
	font-size: 1em;
	letter-spacing: 1px;
	background-color: transparent;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

/*
MODAL (INFOS)
*/

#authors-container .modal {
	font-family: 'Georgia', sans-serif;
	display: none;
}

#authors-container .modal-content {
	max-width: 500px;
	max-height: 90%;
	overflow: auto;
}

#authors-container .modal-content div {
	padding: 8px;
}

#authors-container .modal #infos-header {
	position: relative;
	padding: 16px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#authors-container .modal .close-infos-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 37px;
	font-size: 1.5em;
}

#authors-container .modal p {
	margin: 0px;
	padding: 8px;
}

#authors-container .modal ul {
	margin: 0px;
	padding-left: 10px;
	list-style-type: none;
}

#authors-container .modal ul li {
	padding: 4px;
}

#authors-container .modal .contrib-role {
	text-transform: capitalize;
}






