<div id="adminLogin" class="content" style="min-height: 500px;">
	<div class="container padding-16">
		<h3 class="container text-center">Espace administration&ensp;&ndash;&ensp;connexion</h3>
		<form id="adminLoginForm" class="container">
			
			<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
			
			<p id="email">
				<label>Identifiant : </label>
				<input type="text" name="email" class="input">
				<span class="error" data-utils-bind="{{ email }}"></span>
			</p>
			
			<p id="password">
				<label>Mot de passe : </label>
				<input type="password" name="password" class="input">
				<span class="error" data-utils-bind="{{ password }}"></span>
			</p>
			
			<p class="padding-16">
				<button type="submit" id="loginButton" class="button">Valider</button>
			</p>
			
		</form>
	</div>
</div>
