<div id="adminEditPassword" class="content">
	<h4 class="w3-container align-left w3-padding-16">Modifier votre mot de passe</h4>
	<p class="align-right w3-padding-16"><a href="/#/admin/" class="w3-text-gray w3-hover-none w3-hover-text-black">Retour</a></p>
	<div class="w3-container">
		<form id="adminEditPasswordForm">
			
			<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
			<span class="success hidden" id="form-success" data-utils-bind="{{ message }}"></span>
			
			<p id="password">
				<label>Mot de passe actuel : </label>
				<input type="password" name="password" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ password }}"></span>
			</p>
			
			<p id="password_new">
				<label>Nouveau mot de passe : </label>
				<input type="password" name="password_new" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ password_new }}"></span>
			</p>
			
			<p id="password_new_confirm">
				<label>Confirmation : </label>
				<input type="password" name="password_new_confirm" class="w3-input w3-border">
				<span class="error" data-utils-bind="{{ password_new_confirm }}"></span>
			</p>
			
			<p>
				<button type="submit" class="w3-btn w3-border">Valider</button>
			</p>
			
		</form>
	</div>
</div>
