<div id="adminEditPassword" class="content">
	<p class="align-left padding-16"><b>Modifier votre mot de passe</b></p>
	<p class="align-right padding-16"><a href="/#/admin/">Retour</a></p>
	<form id="adminEditPasswordForm" style="clear:both">
		
		<span class="error" id="form-error" data-utils-bind="{{ form }}"></span>
		<span class="success hidden" id="form-success" data-utils-bind="{{ message }}"></span>
		
		<p id="password">
			<label>Mot de passe actuel : </label>
			<input type="password" name="password" class="input">
			<span class="error" data-utils-bind="{{ password }}"></span>
		</p>
		
		<p id="password_new">
			<label>Nouveau mot de passe : </label>
			<input type="password" name="password_new" class="input">
			<span class="error" data-utils-bind="{{ password_new }}"></span>
		</p>
		
		<p id="password_new_confirm">
			<label>Confirmation : </label>
			<input type="password" name="password_new_confirm" class="input">
			<span class="error" data-utils-bind="{{ password_new_confirm }}"></span>
		</p>
		
		<p class="padding-16">
			<button type="submit" class="button">Valider</button>
		</p>
	</form>
</div>
